.custom-nav {
    background-color: #222222 !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-nav ul li {
    margin: 20px 0 !important;
}

.custom-nav i.bi,
.custom-nav a {
    color: white;
}

.custom-nav i.bi,
.custom-nav a:hover {
    opacity: 0.8;
}

.custom-nav a {
    text-decoration: none;
}

.sidebar {
    width: 12%;
}

.menuLi li,
.ant-menu-submenu-title {
    color: #ffff !important;
}

.menuLi li div {
    padding: 0 !important;
}

.menuLi .ant-menu-submenu-inline {
    margin-top: 0 !important;
}

.ant-menu-item.ant-menu-item-only-child {
    margin: 0 !important;
}