.cm-grid-bg {
  background-color: #eceeef;
}

.cm-text-color {
  color: #475f7b;
}

.cm-btn-color {
  background-color: #5a8dee;
}

.cm-btn-color-2 {
  background-color: #475f7b;
}

.ant-input-search-button .cm-search-btn-color {
  background-color: #f0f4f7;
}
